
:root {
    --mainBgColor: #181818;
    --mainTextColor: #adb0b1;
}

* {
    background-color: var(--mainBgColor);
    color: var(--mainTextColor);
}

body {
    max-width: 900px;
    margin: 0 auto;
}

.header-card {
    display: flex;
    margin-top: 5%;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.header-content {
    width: 75%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2em;
}

.header-content p {
    text-align: justify;
}

.header-content a {
    text-decoration: none;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main {
    flex-direction: column;
}